body.fastedit #header,
body.fastedit #left,
body.fastedit #footer,
body.fastedit .header_back,
body.fastedit #saveNcreate,
body.fastedit #saveNback
{
	display: none;
}

body.fastedit #container
{
	width: auto!important;
}

body.fastedit #main
{
	margin-left: 0!important;
}




/* mediaboxAdvanced - black theme */

#feOverlay {
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	cursor: pointer;
}

#feOverlay.feOverlayFF {
	background: transparent url(80.png) repeat;
}

#feOverlay.feOverlayIE {
	position: absolute;
}

#feCenter {
	position: absolute;
	z-index: 9999;
	left: 50%;
	overflow: hidden;
	background-color: #000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-box-shadow: 0px 10px 40px rgba(0,0,0,0.70);
	-webkit-box-shadow: 0px 10px 40px rgba(0,0,0,0.70);
}

#feCenter.feLoading {
	background: #000 url(Loading.gif) no-repeat center;

/*	This style is applied only during animation.	*/
/*	For example, the following turns off shadows,	*/
/*	helping browser performance on slow systems.	*/
/*	To leave shadows on, just remove these lines:	*/
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

#feImage {
	position: relative;
	left: 0;
	top: 0;

/*	Begin styles for inline content, if no style is given	*/
	font-family: Myriad, Verdana, Arial, Helvetica, sans-serif;
	line-height: 20px;
	font-size: 12px;
	color: #fff;
	text-align: left;
	background-position: center center;
	background-repeat: no-repeat;
	padding: 10px;
}

#feImage a, #feImage a:link, #feImage a:visited {
	color: #ddd;
}

#feImage a:hover, #feImage a:active {
	color: #fff;
}

/*	End inline content styles	*/

#feBottom {
	min-height: 20px;
	font-family: Myriad, Verdana, Arial, Helvetica, sans-serif;
	line-height: 20px;
	font-size: 12px;
	color: #999;
	text-align: left;
	padding: 0 10px 10px;
}

#feTitle {
	display: inline;
	color: #fff;
	font-weight: bold;
	line-height: 20px;
	font-size: 12px;
}

#feNumber {
	display: inline;
	color: #999;
	line-height: 14px;
	font-size: 10px;
	margin: auto 10px;
}

#feCaption {
	display: block;
	color: #999;
	line-height: 14px;
	font-size: 10px;
}

#fePrevLink, #feNextLink, #feCloseLink {
	display: block;
	float: right;
	height: 20px;
	margin: 0;
	outline: none;
}

#feCloseLink {
	width: 46px;
	background: transparent url(Close.gif) no-repeat center;
}

/*	Styles for flash version alert	*/

#feError {
	position: relative;
	font-family: Myriad, Verdana, Arial, Helvetica, sans-serif;
	line-height: 20px;
	font-size: 12px;
	color: #fff;
	text-align: center;
	border: 10px solid #700;
	padding: 10px 10px 10px;
	margin: 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#feError a, #feError a:link, #feError a:visited, #feError a:hover, #feError a:active {
	color: #d00;
	font-weight: bold;
	text-decoration: underline;
}